@model ContactsModel

@{
    ViewData["Title"] = "Contacts";
}


<h1>Contacts:</h1>
<p>
    Address: <b>@Model.Address</b>
</p>
<p>
    Phone: <b>@Model.PhoneNumber</b>
</p>
<p>
    Name: <b>@Model.Name</b>
</p>

